.wrapper {
  width: 600px;
  margin: 0 auto;
  font-size: 24px;
}

.box {  
padding: 20px;
background: #fff;
}
h1 {
  text-align: center;
}

body {
  font-family: helvetica;
  background: #f0f0f0;
}

#footer {
  color: #aaa;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  margin-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

#footer  a {
  color: #333;
  text-decoration: none;
}
